
# enviornment packages
node_modules/
venv/
.vscode/
*.env
.env
activate.bat
activate.ps1
activate


# bite-code
__pycache__/
*.pyc
*.bin


# temp files
temp/
data/*.json
*.pickle
*.log
*.db

# user-specific logfiles
_settings.py
_testsettings.py

